<%= f.input :category_id, collection: @group.categories.all.map { |r| [r.name, r.id, { 'data-tags' => r.tags_data }] } %>
<%= f.input :name %>
<%= f.input :description, as: :text %>
<%= f.input :tags_list %>
<%= f.input :visible_outside %>

<h3 class="text-lg font-bold mt-4 mb-2"><%= t('frm.admin.forum.moderator_groups') %></h3>
<%= f.association :mods, collection: @group.mods, as: :check_boxes %>
<%= f.submit class: "btn btn-primary mt-4" %>

