<div class="solution_main">
<h3>
<div class="tit1 sol">
<div class="tit2">
<%= ::Temple::Utils.escape_html(("#{t('pages.proposal_histories.solutions.added')}: " if solution_history.added)) %>
<%= ::Temple::Utils.escape_html(("#{t('pages.proposal_histories.solutions.removed')}: " if solution_history.removed)) %>
<%= ::Temple::Utils.escape_html((raw t("pages.proposals.edit.new_solution_title.#{proposal.proposal_type.name.downcase}",num: i+1))) %>
<%= ::Temple::Utils.escape_html(("#{solution_history.title}")) %>
</div></div></h3> <div class="sol_content 
<%= ::Temple::Utils.escape_html((solution_history.removed ? 'ice-del' : '')) %>
<%= ::Temple::Utils.escape_html((solution_history.added ? 'ice-ins' : '')) %>
"> 
<% solution_history.section_histories.each do |section|
 %><div class="proposal_main">

</div><h3>

</h3><div class="tit1">

</div><div class="tit2">
<%= ::Temple::Utils.escape_html(("#{t('pages.proposal_histories.sections.added')}: " if section.added)) %>
<%= ::Temple::Utils.escape_html(("#{t('pages.proposal_histories.sections.removed')}: " if section.removed)) %>
<%= ::Temple::Utils.escape_html((section.title)) %>
</div><% end %></div> <div class="proposal_content 
<%= ::Temple::Utils.escape_html((section.removed ? 'ice-del' : '')) %>
<%= ::Temple::Utils.escape_html((section.added ? 'ice-ins' : '')) %>
"> 
<%= ::Temple::Utils.escape_html((sanitize(section.paragraphs.first.parsed_content(proposal.is_anonima?)))) %>
