<% if params[:page] %>
  <%= turbo_stream.append "blogs_list" do %>
    <%= render partial: "blog", collection: @blogs %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "blogs_list" do %>
    <div id="blogs_list">
      <% if @blogs.count > 0 %>
        <%= render partial: "blog", collection: @blogs %>
      <% else %>
        <h2><%= t("pages.blogs.index.no_results") %></h2>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= turbo_stream.replace "more_blogs_container" do %>
  <%= render partial: "more_blogs" %>
<% end %>
