<div class="card bg-base-200 p-4">
  <h1 class="text-xl font-bold mb-4"><%= t('pages.blogs.new.title') %></h1>
  <%= simple_form_for @blog do |f| %>
    <%= f.error_notification %>
    <%= f.input :title, required: true %>
    <p class="flex gap-2 mt-4">
      <%= link_to t('pages.blogs.new.cancel_button'), :back, class: 'btn' %>
      <%= f.submit t('pages.blogs.new.create_button'), class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>

<% content_for :left_panel do %>
  <%= render partial: 'users/user_groups_panel' %>
<% end %>
