<% @page_title = "#{@category} - #{@group.name}"
@extend=true
 %><ul class="breadcrumbs">
<li>
<%= ::Temple::Utils.escape_html((link_to t('frm.forum.forums'), group_forums_url(@group))) %>
</li><li class="current">
<%= ::Temple::Utils.escape_html((link_to @category, group_frm_category_url(@group, @category))) %>
</li></ul><div class="category">
<%= ::Temple::Utils.escape_html((render @category)) %>
</div><% _slim_controls1 = content_for :left_panel do %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((render partial: 'groups/administration_panel'))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><%= ::Temple::Utils.escape_html((render partial: '/frm/application/forem_footer')) %>
