<span class="rightFloat think">
<%= ::Temple::Utils.escape_html((t('pages.proposals.edit.contribution_valuation'))) %>
</span><span class="ranking-count">
<%= ::Temple::Utils.escape_html((comment.rankings.positives.count)) %>
</span> <i class="icon-smile" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.voteup'))) %>
">
<span class="ranking-count">
<%= ::Temple::Utils.escape_html((comment.rankings.neutrals.count)) %>
</span> <i class="icon-baffled" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.votenil'))) %>
">
<span class="ranking-count">
<%= ::Temple::Utils.escape_html((comment.rankings.negatives.count)) %>
</span> <i class="icon-sad" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.votedown'))) %>
">
