<h2>
<%= ::Temple::Utils.escape_html((t('.title'))) %>
</h2><div class="row full-width">
<div class="row">
<div class="columns small-12">
<div class="panel callout">
<%= ::Temple::Utils.escape_html((t('.help'))) %>
</div></div><div class="columns small-6">
<h4>
<%= ::Temple::Utils.escape_html((t('pages.proposals.manage_noise.available'))) %>
</h4></div><div class="columns small-6">
<h4>
<%= ::Temple::Utils.escape_html((t('pages.proposals.manage_noise.removed'))) %>
</h4></div><div class="columns small-6">
<div class="noise-sortable" id="active">
<% @proposal.contributes.unintegrated.removable.each do |contribute|
 %> <div class="noise_element" data-id="
<%= ::Temple::Utils.escape_html((contribute.id)) %>
"> 
<%= ::Temple::Utils.escape_html((parsed_content(contribute, @proposal.is_anonima?))) %>
<% end %></div></div></div><div class="columns small-6">
<div class="noise-sortable" id="inactive">
<% @proposal.contributes.noise.each do |contribute|
 %> <div class="noise_element" data-id="
<%= ::Temple::Utils.escape_html((contribute.id)) %>
"> 
<%= ::Temple::Utils.escape_html((parsed_content(contribute, @proposal.is_anonima?))) %>
<% end %></div></div></div><% _slim_controls1 = form_for 'comments', url: mark_noise_proposal_proposal_comments_path(@proposal.id), method: :post do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.hidden_field 'active'))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.hidden_field 'inactive'))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.cancel'), '#', class: 'btn', data: {'reveal-close' => ''}))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.go_back'), :back, class: 'btn', data: {back: ''}))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.submit t('buttons.save'), class: 'btn blue', onclick: 'set_noise_data();', data: {disable_with: t('loading')}))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><script type="text/javascript">
 $(function () { var oldList, newList, item; $("#active, #inactive").sortable({ connectWith: ".noise-sortable", forcePlaceholderSize: '100px' }).disableSelection(); }); 
</script>
