<% if can? :participate, @proposal
my_rank = current_user.comment_rank(comment)
can_rank_again = current_user.can_rank_again_comment?(comment)
if my_rank
if can_rank_again
 %><span class="think">
<%= ::Temple::Utils.escape_html((t('pages.proposals.contribution_valuation_again'))) %>
</span><% end %><%= ::Temple::Utils.escape_html((image_tag "spinner.gif", style: 'display: none;', class: 'loading')) %>
<span class="ranking-count">
<%= ::Temple::Utils.escape_html((comment.rankings.positives.count)) %>
</span><% if my_rank == 1
 %> <i class="icon-smile-full" style="margin-right:10px" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.voteup'))) %>
">
<% elsif can_rank_again
 %><%= ::Temple::Utils.escape_html((link_to_rankup(@proposal, comment))) %>
<% else
 %> <i class="icon-smile" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.voteup'))) %>
">
<% end %><span class="ranking-count" style="margin-right:3px">
<%= ::Temple::Utils.escape_html((comment.rankings.neutrals.count)) %>
</span><% if my_rank == 2
 %> <i class="icon-baffled-full" style="margin-right:10px" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.votenil'))) %>
">
<% elsif can_rank_again
 %><%= ::Temple::Utils.escape_html((link_to_ranknil(@proposal, comment))) %>
<% else
 %> <i class="icon-baffled" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.votenil'))) %>
">
<% end %><span class="ranking-count">
<%= ::Temple::Utils.escape_html((comment.rankings.negatives.count)) %>
</span><% if my_rank == 3
 %> <i class="icon-sad-full" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.votedown'))) %>
">
<% elsif can_rank_again
 %><%= ::Temple::Utils.escape_html((link_to_rankdown(@proposal, comment))) %>
<% else
 %> <i class="icon-sad" title="
<%= ::Temple::Utils.escape_html((t('pages.proposals.show.votedown'))) %>
">
<% end; else
 %><%= ::Temple::Utils.escape_html((render 'ranking_panel_others', { comment: comment })) %>
<% end; else
end %>
