<p>
<b>
Topic:
</b><%= ::Temple::Utils.escape_html((h @reply.topic)) %>
</p><p>
<b>
User:
</b><%= ::Temple::Utils.escape_html((h @reply.user)) %>
</p><p>
<b>
Subject:
</b><%= ::Temple::Utils.escape_html((h @reply.subject)) %>
</p><p>
<b>
Body:
</b><%= ::Temple::Utils.escape_html((h @reply.body)) %>
</p><%= ::Temple::Utils.escape_html((link_to 'Edit', edit_reply_path(@reply))) %>
 | 
<%= ::Temple::Utils.escape_html((link_to 'Back', replies_path)) %>
