<div class="topic 
<%= ::Temple::Utils.escape_html((cycle('odd', 'even'))) %>
<%= ::Temple::Utils.escape_html((topic.locked? ? 'locked' : 'unlocked')) %>
"> <div class="
<%= ::Temple::Utils.escape_html((icon_classes(topic))) %>
"> 
<div class="byline topic-title">
<%= ::Temple::Utils.escape_html((new_since_last_view_text(topic))) %>
<div class="subject">
<%= ::Temple::Utils.escape_html((link_to topic.subject, group_forum_topic_url(topic.forum.group, topic.forum, topic))) %>
</div><div class="started-by">
<%= ::Temple::Utils.escape_html((t('started_by'))) %>
<%= ::Temple::Utils.escape_html((relevant_posts(topic).first.user)) %>
</div></div>
