<div class="right_panel">
<div class="quorum_section" id="whatis">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.description_html'))) %>
</div><% @quorums.each do |quorum|
 %> <div id="quorum_
<%= ::Temple::Utils.escape_html((quorum.id)) %>
" class="quorum_section"> 
<ul class="pricing-table">
<li class="title">
<%= ::Temple::Utils.escape_html((quorum.name)) %>
</li><li class="description">
<%= ::Temple::Utils.escape_html((quorum.description)) %>
</li><li class="description">
<%= ::Temple::Utils.escape_html((quorum.explanation)) %>
</li><li class="bullet-item">
<span class="gray">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.time_discussion'))) %>
</span></li></ul><b>
<%= ::Temple::Utils.escape_html((quorum.time(true))) %>
</b><li class="bullet-item">
<span class="gray">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.participants'))) %>
</span></li><b>
<%= ::Temple::Utils.escape_html((quorum.percentage ?  quorum.min_participants : t('models.quorum.help_content.not_specified'))) %>
</b><li class="bullet-item">
<span class="gray">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.good_score'))) %>
</span></li><b>
<%= ::Temple::Utils.escape_html((quorum.good_score)) %>
%
</b><li class="bullet-item">
<span class="gray">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.time_vote'))) %>
</span></li><b>
<%= ::Temple::Utils.escape_html((quorum.vote_time)) %>
</b><li class="bullet-item">
<span class="gray">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.participants_vote'))) %>
</span></li><b>
<%= ::Temple::Utils.escape_html((quorum.vote_percentage ?  quorum.min_vote_participants : t('models.quorum.help_content.not_specified'))) %>
</b><li class="bullet-item">
<span class="gray">
<%= ::Temple::Utils.escape_html((t('models.quorum.help_content.vote_good_score'))) %>
</span></li><b>
<%= ::Temple::Utils.escape_html((quorum.vote_good_score)) %>
%
</b><% end %></div>
