<% @page_title = t("pages.groups.edit_proposals.title")
_slim_controls1 = render layout: "layouts/page_title", locals: {title: t('pages.groups.edit_proposals.title')} do %><% _slim_controls2 = ''.dup; 
; 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><% _slim_controls3 = link_to new_group_best_quorum_url(@group), data: {remote: true, disable_with: t('loading')}, class: "btn blue disable" do %><% _slim_controls4 = ''.dup; 
; _slim_controls4 << ("<i".freeze); _slim_controls4 << (" class=\"".freeze); _slim_controls4 << ("fa-solid".freeze); _slim_controls4 << (" ".freeze); _slim_controls4 << ("fa-plus".freeze); _slim_controls4 << ("\"".freeze); _slim_controls4 << (">".freeze); 
; _slim_controls4 << ("</i>".freeze); _slim_controls4 << ((::Temple::Utils.escape_html((t('pages.groups.edit_quorums.add_quorum')))).to_s); 
; _slim_controls4 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls3)) %><div id="quorum_panel_container" xmlns="http://www.w3.org/1999/html">
<%= ::Temple::Utils.escape_html((render partial: 'groups/quorums_panel')) %>
</div><table>
<thead>
<tr>
<td colspan="2">
<%= ::Temple::Utils.escape_html((t('pages.groups.statistics.title', date: @group.statistic.updated_at))) %>
</td></tr></thead><tbody>
<tr>
<td>
<%= ::Temple::Utils.escape_html(('Debate participants')) %>
</td><td>
<%= ::Temple::Utils.escape_html((@group.statistic.valutations.round(0))) %>
 (
<%= ::Temple::Utils.escape_html(((@group.statistic.valutations*100 / @group.scoped_participants(:participate_proposals).count).round(0))) %>
 %) 
</td></tr><tr>
<td>
<%= ::Temple::Utils.escape_html(('Debate maturity')) %>
</td><td>
<%= ::Temple::Utils.escape_html((@group.statistic.good_score.round(0))) %>
%
</td></tr><tr>
<td>
<%= ::Temple::Utils.escape_html(('Votation participants')) %>
</td><td>
<%= ::Temple::Utils.escape_html((@group.statistic.vote_valutations.round(0))) %>
 (
<%= ::Temple::Utils.escape_html(((@group.statistic.vote_valutations*100 / @group.scoped_participants(:vote_proposals).count).round(0))) %>
 %) 
</td></tr></tbody></table><div class="card">
<h2>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_quorums.configure_proposal_parameters'))) %>
</h2><%= ::Temple::Utils.escape_html((check_box :group, :default_anonima, data: {change_default_anonimity: ''})) %>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_quorums.default_anonymous_proposal'))) %>
<br />
<%= ::Temple::Utils.escape_html((check_box :group, :default_visible_outside, data: {change_default_visible_outside: ''})) %>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_quorums.default_private_proposal'))) %>
<br />
<%= ::Temple::Utils.escape_html((check_box :group, :default_secret_vote, data: {change_default_secret_vote: ''})) %>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_quorums.default_secret_vote'))) %>
<br />
<hr />
<%= ::Temple::Utils.escape_html((check_box :group, :change_advanced_options, data: {change_default_advanced_options: ''})) %>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_quorums.let_editor_change_settings'))) %>
<br />
</div><script type="text/javascript">
 QuorumsIndex.groupId = <%= ::Temple::Utils.escape_html((@group.id)) %>; QuorumsIndex.changeDefaultAnonimityUrl = "<%= ::Temple::Utils.escape_html((change_default_anonima_group_url(@group))) %>"; QuorumsIndex.changeDefaultVisibleOutsideUrl = "<%= ::Temple::Utils.escape_html((change_default_visible_outside_group_url(@group))) %>"; QuorumsIndex.changeDefaultSecretVoteUrl = "<%= ::Temple::Utils.escape_html((change_default_secret_vote_group_url(@group))) %>"; QuorumsIndex.changeDefaultAdvancedOptionsUrl = "<%= ::Temple::Utils.escape_html((change_advanced_options_group_url(@group))) %>"; 
</script><% _slim_controls5 = content_for :left_panel do %><% _slim_controls6 = ''.dup; 
; _slim_controls6 << ((::Temple::Utils.escape_html((render 'groups/administration_panel'))).to_s); 
; _slim_controls6 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls5)) %>
