<table class="row footer">
  <tr>
    <td class="wrapper">
      <table class="six columns">
        <tr>
          <td class="left-text-pad">
            <h5><%= t('mailer.default.footer.connect_with_us') %></h5>
            <table class="tiny-button facebook">
              <tr><td><%= link_to 'Facebook', NEWSLETTER_FACEBOOK_URL, target: '_blank' %></td></tr>
            </table>
            <br>
            <table class="tiny-button twitter">
              <tr><td><%= link_to 'Twitter', NEWSLETTER_TWITTER_URL, target: '_blank' %></td></tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper last">
      <table class="six columns">
        <tr>
          <td class="last right-text-pad">
            <h5><%= t('mailer.default.footer.contact_info') %></h5>
            <%= t('mailer.default.footer.email_label') %> <%= mail_to ENV['APP_EMAIL_ADDRESS'] %>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td align="center">
            <% _locale = @user&.original_locale || SysLocale.find_by(default: true) %>
            <% _host = _locale&.host || ENV['MAILER_DEFAULT_HOST'] || 'localhost' %>
            <% _lang = _locale&.lang %>
            <center>
              <p style="text-align:center;">
                <%= link_to t('mailer.default.terms'), terms_url(host: _host, l: _lang), target: '_blank' %>
                &nbsp;|
                <%= link_to t('mailer.default.privacy'), privacy_url(host: _host, l: _lang), target: '_blank' %>
                &nbsp;|
                <% if @unregistered %>
                  <%= link_to t('mailer.invite.no_more_button'), anymore_group_group_invitation_group_invitation_email_url(@group, @group_invitation, @group_invitation_email.token, email: @group_invitation_email.email) %>
                <% else %>
                  <%= link_to t('mailer.default.edit_preferences'), alarm_preferences_users_url(host: _host, l: _lang), target: '_blank' %>
                <% end %>
              </p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
