<% _slim_controls1 = simple_form_for @group, validate: true, html: { multipart: true } do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.error_notification))).to_s); 
; if @group.is_private?
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("panel".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("callout".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("<p".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.groups.edit.private_warning_html', link: (link_to t('pages.groups.administration_panel.proposals'), group_quorums_url(@group)))))).to_s); 
; _slim_controls2 << ("</p>".freeze); _slim_controls2 << ("</div>".freeze); end; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :name, placeholder: t('activerecord.attributes.group.name_placeholder'), input_html: { data: { fv_remote_id: @group.id } }))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :description, as: :ckeditor, input_html: { row: 5, ckeditor: { toolbar: 'blog', language: I18n.locale, wordcount: { showCharCount: true, showWordCount: false, charLimit: 2000, countHTML: true } } }, required: true))).to_s); 
; if ['edit', 'update'].include? action_name
; _slim_controls2 << ((::Temple::Utils.escape_html((f.label :rule_book))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.cktext_area :rule_book, row: 5, ckeditor: { validateSize: 1, toolbar: 'blog', language: I18n.locale }))).to_s); 
; end; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :tags_list, label: t('pages.groups.new.tags.title')))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :image, input_html: { accept: "image/jpeg,image/png", data: { fv_trigger: 'change', fv_file: true, fv_file_maxsize: UPLOAD_LIMIT_IMAGES } }))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :interest_border_tkn, collection: (@group.interest_border.present? ? [[@group.interest_border.text, @group.interest_border.key]] : []), selected: (@group.interest_border.present? ? @group.interest_border.key : nil), as: :select, required: true))).to_s); 
; if ['new', 'create'].include? action_name
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :default_role_name, placeholder: t('activerecord.attributes.group.default_role_name_placeholder')))).to_s); 
; _slim_controls2 << ("<a".freeze); _slim_controls2 << (" data-reveal-id=\"".freeze); _slim_controls2 << ("permessi".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" href=\"".freeze); _slim_controls2 << ("#".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.groups.new.change_permissions_button')))).to_s); 
; _slim_controls2 << ("</a>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("reveal-modal".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" data-reveal=\"".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" id=\"".freeze); _slim_controls2 << ("permessi".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<h2".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.groups.new.change_permissions_title')))).to_s); 
; _slim_controls2 << ("</h2>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("alert-box".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("info".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.groups.new.change_permissions_description')))).to_s); 
; _slim_controls2 << ("</div>".freeze); GroupAction::LIST.each do |action|
_slim_controls3 = f.label action do; _slim_controls4 = ''.dup; 
; _slim_controls4 << ((::Temple::Utils.escape_html((f.check_box :default_role_actions, { multiple: true }, action, nil))).to_s); 
; _slim_controls4 << ((::Temple::Utils.escape_html((I18n.t("db.group_actions.#{action}.description")))).to_s); 
; _slim_controls4; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls3))).to_s); end; _slim_controls2 << ("<a".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("btn".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" href=\"".freeze); _slim_controls2 << ("#".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" id=\"".freeze); _slim_controls2 << ("default_permissions_button".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("Default".freeze); 
; _slim_controls2 << ("</a>".freeze); _slim_controls2 << ("<a".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("btn".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("blue".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" href=\"".freeze); _slim_controls2 << ("#".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" id=\"".freeze); _slim_controls2 << ("change_permissions_button".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("Ok".freeze); 
; _slim_controls2 << ("</a>".freeze); _slim_controls2 << ((::Temple::Utils.escape_html((f.input :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder')))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.submit button_name, class: 'btn blue', data: { disable_with: t('saving') }))).to_s); 
; else
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder')))).to_s); 
; _slim_controls5 = f.label :private, title: "Chi non è membro del gruppo può visualizzare solo il regolamento e le proposte pubbliche" do; _slim_controls6 = ''.dup; 
; _slim_controls6 << ((::Temple::Utils.escape_html((f.check_box :private))).to_s); 
; _slim_controls6 << ((::Temple::Utils.escape_html((t('activerecord.attributes.group.private')))).to_s); 
; _slim_controls6; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls5))).to_s); _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('pages.groups.edit.change_permissions'), group_participation_roles_path(@group)))).to_s); 
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.submit button_name, class: 'btn blue', data: { disable_with: t('updating') }))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<br".freeze); _slim_controls2 << (" />".freeze); 
; _slim_controls2 << ("<br".freeze); _slim_controls2 << (" />".freeze); 
; if can? :destroy, @group
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("alert-box".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("warning".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" data-alert=\"".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('.delete_group_warning_html')))).to_s); 
; _slim_controls7 = link_to @group, method: :delete, data: { confirm: t('pages.groups.show.confirm_destroy') }, class: 'btn red' do; _slim_controls8 = ''.dup; 
; _slim_controls8 << ("<i".freeze); _slim_controls8 << (" class=\"".freeze); _slim_controls8 << ("fa-regular".freeze); _slim_controls8 << (" ".freeze); _slim_controls8 << ("fa-trash-can".freeze); _slim_controls8 << ("\"".freeze); _slim_controls8 << (">".freeze); 
; _slim_controls8 << ("</i>".freeze); _slim_controls8 << ((::Temple::Utils.escape_html((t('pages.groups.show.destroy_button')))).to_s); 
; _slim_controls8; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls7))).to_s); _slim_controls2 << ("</div>".freeze); end; end; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><% if ['new', 'create'].include?(params[:action])
_role_actions_js = @group.default_role_actions.to_a.map { |id| "$('#group_default_role_actions_#{id}').prop('checked', true);" }.join(" ")
_permissions_js = "$('#change_permissions_button').click(function () { $('#permessi').foundation('reveal', 'close'); return false; }); $('#default_permissions_button').click(function () { $(\"input[name=group\\\\[default_role_actions\\\\]\\\\[\\\\]]\").prop('checked', false); #{_role_actions_js} return false; }); "
else
_permissions_js = ""
end %><script type="text/javascript">
 $(function () { var description_editor = CKEDITOR.instances['group_description']; description_editor.on('change', function (event) { description_editor.updateElement(); $('form').formValidation('revalidateField', 'group[description]'); return true; }); var input_interest_border = $('#group_interest_border_tkn'); //input_interest_border.append($('<option>hello</option>')); input_interest_border.select2({ ajax: { url: "<%= ::Temple::Utils.escape_html((interest_borders_path)) %>", dataType: 'json', delay: 250, data: function (params) { return { q: params.term, l: Airesis.i18n.locale, pp: 'disable' }; }, processResults: function (data, page) { return { results: data }; }, cache: true }, escapeMarkup: function (markup) { return markup; }, // let our custom formatter work minimumInputLength: 1 }).on("select2:close", function () { $('#new_group', '#edit_group').formValidation('revalidateField', 'group[interest_border_tkn]'); }); }); <%= ::Temple::Utils.escape_html((_permissions_js)) %> $(function () { var input = $('#group_tags_list'); if (input != null) { input.tokenInput("<%= ::Temple::Utils.escape_html((tags_path(format: :json ))) %>", { theme: "facebook", crossDomain: false, allowFreeTagging: true, minChars: 3, prePopulate: <%= ::Temple::Utils.escape_html((raw @group.tags.map{|t| {id: t.text, name: t.text}}.to_json.to_s)) %>, hintText: "<%= ::Temple::Utils.escape_html((t('digit_tags'))) %>", searchingText: "<%= ::Temple::Utils.escape_html((t('digit_tags'))) %>", preventDuplicates: true, allowTabOut: true, tokenValue: "name", tokenLimit: 5 }) } }); 
</script>
