<% content_for :ckeditor %>
<%= simple_form_for @group, validate: true, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <% if @group.is_private? %>
    <div class="alert alert-info">
      <p><%= t('pages.groups.edit.private_warning_html', link: (link_to t('pages.groups.administration_panel.proposals'), group_quorums_url(@group))) %></p>
    </div>
  <% end %>
  <%= f.input :name, placeholder: t('activerecord.attributes.group.name_placeholder'), input_html: { data: { fv_remote_id: @group.id } } %>
  <%= f.input :description, as: :ckeditor, input_html: { row: 5, ckeditor: { toolbar: 'blog', language: I18n.locale, wordcount: { showCharCount: true, showWordCount: false, charLimit: 2000, countHTML: true } } }, required: true %>
  <% if ['edit', 'update'].include? action_name %>
    <%= f.label :rule_book %>
    <%= f.cktext_area :rule_book, row: 5, ckeditor: { validateSize: 1, toolbar: 'blog', language: I18n.locale } %>
  <% end %>
  <%= f.input :tags_list, label: t('pages.groups.new.tags.title') %>
  <%= f.input :image, input_html: { accept: "image/jpeg,image/png", data: { fv_trigger: 'change', fv_file: true, fv_file_maxsize: UPLOAD_LIMIT_IMAGES } } %>
  <%= f.input :interest_border_tkn, collection: (@group.interest_border.present? ? [[@group.interest_border.text, @group.interest_border.key]] : []), selected: (@group.interest_border.present? ? @group.interest_border.key : nil), as: :select, required: true %>
  <% if ['new', 'create'].include? action_name %>
    <%= f.input :default_role_name, placeholder: t('activerecord.attributes.group.default_role_name_placeholder') %>
    <a href="#"-id="permessi"><%= t('pages.groups.new.change_permissions_button') %></a>
    <div id="permessi" class="">
      <h2><%= t('pages.groups.new.change_permissions_title') %></h2>
      <div class="alert alert-info">
        <%= t('pages.groups.new.change_permissions_description') %>
      </div>
      <% GroupAction::LIST.each do |action| %>
        <%= f.label action do %>
          <%= f.check_box :default_role_actions, { multiple: true }, action, nil %>
          <%= I18n.t("db.group_actions.#{action}.description") %>
        <% end %>
      <% end %>
      <a id="default_permissions_button" class="btn" href="#">Default</a>
      <a id="change_permissions_button" class="btn btn-primary" href="#">Ok</a>
    </div>
    <%= f.input :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder') %>
    <%= f.submit button_name, class: 'btn btn-primary', data: { disable_with: t('saving') } %>
  <% else %>
    <%= f.input :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder') %>
    <%= f.label :private, title: "Chi non è membro del gruppo può visualizzare solo il regolamento e le proposte pubbliche" do %>
      <%= f.check_box :private %>
      <%= t('activerecord.attributes.group.private') %>
    <% end %>
    <%= link_to t('pages.groups.edit.change_permissions'), group_participation_roles_path(@group) %>
    <div>
      <%= f.submit button_name, class: 'btn btn-primary', data: { disable_with: t('updating') } %>
    </div>
    <br>
    <br>
    <% if can? :destroy, @group %>
      <div class="alert alert-warning" data-alert>
        <%= t('.delete_group_warning_html') %>
        <%= link_to @group, data: { turbo_method: :delete, turbo_confirm: t('pages.groups.show.confirm_destroy') }, class: 'btn btn-error' do %>
          <i class="fa-regular fa-trash-can"></i>
          <%= t('pages.groups.show.destroy_button') %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<% if ['new', 'create'].include?(params[:action]) %>
  <% _role_actions_js = @group.default_role_actions.to_a.map { |id| "var cb = document.getElementById('group_default_role_actions_#{id}'); if (cb) cb.checked = true;" }.join(" ") %>
<% else %>
  <% _role_actions_js = "" %>
<% end %>
