<table class="table">
  <thead>
    <tr>
      <td rowspan="2"><%= t('pages.groups.edit_quorums.active') %></td>
      <td class="hidden lg:table-cell" rowspan="2"><%= t('pages.groups.edit_quorums.name') %></td>
      <td colspan="3">Debate</td>
      <td colspan="2">Votation</td>
    </tr>
    <tr>
      <td>
        <span class="hidden lg:inline"><%= t('pages.groups.edit_quorums.time') %></span>
        <span class="lg:hidden"><i class="fa-solid fa-clock"></i></span>
      </td>
      <td>
        <span class="hidden lg:inline"><%= t('pages.groups.edit_quorums.participants') %></span>
        <span class="lg:hidden"><i class="fa-solid fa-users"></i></span>
      </td>
      <td>
        <span class="hidden lg:inline"><%= t('pages.groups.edit_quorums.good_percentage') %></span>
        <span class="lg:hidden"><i class="fa-solid fa-gauge"></i></span>
      </td>
      <td>
        <span class="hidden lg:inline"><%= t('pages.groups.edit_quorums.participants') %></span>
        <span class="lg:hidden"><i class="fa-solid fa-users"></i></span>
      </td>
      <td>
        <span class="hidden lg:inline">Percentage</span>
        <span class="lg:hidden"><i class="fa-solid fa-gauge"></i></span>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @group.quorums.each do |quorum| %>
      <tr valign="top" title="<%= quorum.description %>">
        <td>
          <input type="checkbox" data-quorum-check="<%= quorum.id %>" <%= 'checked="true"' if quorum.active %> />
        </td>
        <td class="hidden lg:table-cell">
          <b><%= quorum.name %>:</b>
        </td>
        <td><%= quorum.time %></td>
        <td><%= desc_percentage(quorum.percentage) %></td>
        <td><%= quorum.good_score %>%</td>
        <td><%= desc_percentage(quorum.vote_percentage) %></td>
        <td><%= quorum.vote_good_score %>%</td>
        <td>
          <%= link_to edit_group_best_quorum_url(@group, quorum), title: t('buttons.edit') do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to [@group, quorum], data: { turbo_method: :delete , turbo_confirm: raw(t('pages.groups.edit_quorums.confirm_deletion', quorum: quorum.name))}, title: t('buttons.delete') do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
