<div class="reveal-modal" data-reveal="" id="rules_modal" role="dialog">
<h2>
<%= ::Temple::Utils.escape_html((t('pages.groups.show.rules_button'))) %>
</h2><% if @group.rule_book && !@group.rule_book.empty?
 %><%= ::Temple::Utils.escape_html((raw @group.rule_book)) %>
<% else
 %><div>
<%= ::Temple::Utils.escape_html((t('pages.groups.show.rule_book_html'))) %>
</div><ul>
<li>
Participation:
</li><% if @group.request_by_vote?
 %><%= ::Temple::Utils.escape_html((t('pages.groups.show.request_by_vote_rules'))) %>
<% elsif @group.request_by_portavoce?
 %><%= ::Temple::Utils.escape_html((t('pages.groups.show.request_by_spokesman_rules'))) %>
<% end %></ul><% end %></div>
