<% if params[:page] %>
  <%= turbo_stream.append "groups_list" do %>
    <%= render partial: "group_tag", collection: @groups, as: "group" %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "groups_list" do %>
    <div id="groups_list">
      <% if @groups.count > 0 %>
        <%= render partial: "group_tag", collection: @groups, as: "group" %>
      <% else %>
        <h2><%= t("pages.groups.index.no_results") %></h2>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= turbo_stream.replace "more_groups_container" do %>
  <%= render partial: "more_groups" %>
<% end %>
