<h2 class="text-xl font-bold mb-4"><%= t('pages.users.send_message_title', name: @user.fullname) %></h2>

<%= form_for 'message', url: send_message_user_path(@user), remote: request.xhr? do |e| %>
  <div class="flex flex-wrap">
    <div class="w-full mb-4">
      <p>
        <%= e.label t('pages.users.send_message.subject_label') %>
        <%= e.text_field 'subject', class: 'input input-bordered w-full' %>
      </p>
      <p>
        <%= e.label t('pages.users.send_message.body_label') %>
        <%= e.text_area 'body', rows: 10, class: 'textarea textarea-bordered w-full' %>
      </p>
    </div>
    <div class="w-full flex gap-2">
      <%= link_to t('buttons.cancel'), '#', class: 'btn', data: { 'reveal-close' => '' } %>
      <%= link_to t('buttons.go_back'), :back, class: 'btn', data: { back: '' } %>
      <%= e.button :button, class: 'btn btn-primary' do %>
        <i class="fa-solid fa-envelope"></i>
        <%= t('buttons.send') %>
      <% end %>
    </div>
  </div>
<% end %>
