<div class="bg-base-100 border-2 border-base-content/15 p-2" data-ijs="settings-menu">
  <p class="text-[9px] font-bold text-base-content/30 uppercase tracking-widest px-3 py-2">
    <%= t('pages.users.left_panel.title') %>
  </p>
  <ul class="menu w-full gap-0.5">
    <li>
      <%= link_to user_url(current_user), class: "text-base-content/60 hover:bg-base-200 hover:text-base-content" do %>
        <i class="fa-solid fa-gears w-4 text-center"></i>
        <%= t('pages.users.left_panel.general_info') %>
      <% end %>
    </li>
    <li>
      <%= link_to alarm_preferences_users_url, class: "text-base-content/60 hover:bg-base-200 hover:text-base-content" do %>
        <i class="fa-solid fa-bell w-4 text-center"></i>
        <%= t('pages.users.left_panel.alarm_and_notifications') %>
      <% end %>
    </li>
    <li>
      <%= link_to border_preferences_users_url, class: "text-base-content/60 hover:bg-base-200 hover:text-base-content" do %>
        <i class="fa-solid fa-map-location-dot w-4 text-center"></i>
        <%= t('pages.users.left_panel.geographic_borders') %>
      <% end %>
    </li>
    <li>
      <%= link_to privacy_preferences_users_url, class: "text-base-content/60 hover:bg-base-200 hover:text-base-content" do %>
        <i class="fa-solid fa-key w-4 text-center"></i>
        <%= t('pages.users.left_panel.account_and_privacy') %>
      <% end %>
    </li>
    <li>
      <%= link_to statistics_users_url, class: "text-base-content/60 hover:bg-base-200 hover:text-base-content" do %>
        <i class="fa-solid fa-chart-bar w-4 text-center"></i>
        <%= t('pages.users.left_panel.statistics') %>
      <% end %>
    </li>
  </ul>
</div>
