<div class="card bg-base-200 p-4 mb-4">
  <div class="image-container text-center mb-4">
    <%= avatar(@user, size: 120) %>
    <% if @user == current_user %>
      <div class="caption mt-2">
        <a class="link"><%= t('pages.users.show.edit_image') %></a>
      </div>
    <% end %>
  </div>

  <% if ::Configuration::user_messages %>
    <div class="mb-4">
      <%= link_to show_message_user_path(@user), remote: true, class: 'btn btn-sm disable' do %>
        <i class="fa-solid fa-envelope"></i>
        <%= t('pages.users.show.send_message_button') %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="card bg-base-200 p-4 mb-4">
  <h2 class="text-xl font-bold mb-2">
    <%= t('pages.users.show.profile_info') %>
    <%= t('pages.users.show.profile_info_unconfirmed') unless @user.confirmed? %>
  </h2>

  <div id="name_profile" class="profile_element flex gap-2 mb-2 p-2 hover:bg-base-300 rounded cursor-pointer">
    <h2 class="label_profile font-semibold"><%= t('pages.users.show.name_label') %>: </h2>
    <div class="info_profile"><%= h @user.name %></div>
  </div>

  <div id="surname_profile" class="profile_element flex gap-2 mb-2 p-2 hover:bg-base-300 rounded cursor-pointer">
    <h2 class="label_profile font-semibold"><%= t('pages.users.show.surname_label') %>: </h2>
    <div class="info_profile"><%= h @user.surname %></div>
  </div>

  <% if current_user == @user %>
    <div id="email_profile" class="profile_element flex gap-2 mb-2 p-2 hover:bg-base-300 rounded cursor-pointer">
      <h2 class="label_profile font-semibold"><%= t('pages.users.show.email_label') %>: </h2>
      <div class="info_profile">
        <%= @user.email %>
        <% if @user.unconfirmed_email %>
          <span class="text-base-content/60">(<%= @user.unconfirmed_email %> <%= t('pages.users.show.to_be_confirmed') %>)</span>
        <% end %>
      </div>
    </div>

    <div id="password_profile" class="profile_element flex gap-2 mb-2 p-2 hover:bg-base-300 rounded cursor-pointer">
      <h2 class="label_profile font-semibold"><%= t('pages.users.show.password_label') %>: </h2>
      <div class="info_profile"> ***** </div>
    </div>
  <% end %>

  <% if @user.show_urls && ::Configuration::socialnetwork_active %>
    <% if @user.has_provider?(Authentication::FACEBOOK) %>
      <div id="facebook_profile" class="profile_element_no_click flex gap-2 mb-2 p-2">
        <h2 class="label_profile font-semibold"><%= t('pages.users.show.facebook_url_label') %>: </h2>
        <div class="info_profile">
          <%= link_to @user.facebook_page_url, @user.facebook_page_url, target: '_blank' if @user.facebook_page_url.present? %>
        </div>
      </div>
    <% end %>
    <% if @user.has_provider?(Authentication::GOOGLE) && @user.google_page_url.present? %>
      <div id="google_profile" class="profile_element_no_click flex gap-2 mb-2 p-2">
        <h2 class="label_profile font-semibold"><%= t('pages.users.show.google_url_label') %>: </h2>
        <div class="info_profile">
          <%= link_to(@user.google_page_url, @user.google_page_url, target: '_blank', rel: 'author') %>
        </div>
      </div>
    <% end %>
    <% if @user.has_provider?(Authentication::TWITTER) && @user.twitter_page_url.present? %>
      <div id="twitter_profile" class="profile_element_no_click flex gap-2 mb-2 p-2">
        <h2 class="label_profile font-semibold"><%= t('pages.users.show.twitter_url') %>: </h2>
        <div class="info_profile">
          <%= link_to @user.twitter_page_url, @user.twitter_page_url, target: '_blank' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div id="confirmed_at_profile" class="profile_element_no_click flex gap-2 mb-2 p-2">
    <h2 class="label_profile font-semibold"><%= t('pages.users.show.registered_from') %>: </h2>
    <div class="info_profile"><%= l(@user.confirmed? ? @user.confirmed_at : @user.created_at) %></div>
  </div>
</div>

<% if current_user == @user %>
  <div id="img_modal" class="reveal-modal medium" data-reveal>
    <%= simple_form_for @user do |f| %>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
          <h2 class="text-lg font-bold mb-2"><%= t('pages.users.show.load_image') %></h2>
          <div class="alert alert-info mb-4">
            <p><%= t('pages.users.show.max_file_size') %></p>
          </div>
          <%= f.input :avatar, required: true, input_html: { accepted: 'image/jpeg,image/png', data: { fv_trigger: 'change', fv_file: true, fv_file_maxsize: UPLOAD_LIMIT_IMAGES } } %>
          <%= link_to t('buttons.cancel'), '#', class: 'btn', data: { 'reveal-close' => '' } %>
          <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <a class="close-reveal-modal">&times;</a>
  </div>

  <% _insert_email_js = params[:insert_email] ? "$('#email_profile').click(); " : "" %>
  <script type="text/javascript">
    $(function () {
      $('#name_profile').click(function () { $("#name_modal").foundation('reveal', 'open'); });
      $('#surname_profile').click(function () { $("#surname_modal").foundation('reveal', 'open'); });
      $('#email_profile').click(function () { $("#email_modal").foundation('reveal', 'open'); });
      <%= raw _insert_email_js %>
      $('#password_profile').click(function () { $("#password_modal").foundation('reveal', 'open'); });
      $('.image-container div a').click(function () { $("#img_modal").foundation('reveal', 'open'); });
      $('.profile_element').css('cursor', 'pointer');
    });
  </script>
<% else %>
  <script type="text/javascript">
    $(function () {
      $('.profile_element').addClass('profile_element_no_click').removeClass('profile_element');
    });
  </script>
<% end %>
