<div class="title clearfix">
<span class="left">
<%= ::Temple::Utils.escape_html((t('pages.home.index.from_blogs'))) %>
</span><%= ::Temple::Utils.escape_html((link_to t('.proceed_to_blogs'), blogs_path, class: 'btn right')) %>
</div><div class="scrollable">
<% @blog_posts.each do |blog_post|
 %><div class="blog_post_list">

</div><div class="comment_avatar">
<%= ::Temple::Utils.escape_html((avatar(blog_post.user, size: 40))) %>
</div><div class="blog_post_desc">

</div><div class="blog_post_title">
<%= ::Temple::Utils.escape_html((link_to blog_post.title, [blog_post.blog, blog_post], title: blog_post.title)) %>
</div><div class="blog_post_footer">
<%= ::Temple::Utils.escape_html((raw t('pages.blog_posts.list_elements.inserted', name: (link_to blog_post.user.name, blog_post.user), date: (l blog_post.created_at)))) %>
</div><% end %></div><div class="clearboth">
</div>
