<% if user_signed_in?
participation = @event.meeting.meeting_participations.find_by(user_id: current_user.id)
if participation
if @event.past?
 %><h5>
<%= ::Temple::Utils.escape_html((participation.will_come? ?)) %>
<% t('pages.events.show.yes_partecipated') :
t('pages.events.show.no_partecipated')
 %></h5><% else
 %><h5>
<%= ::Temple::Utils.escape_html((participation.will_come? ?)) %>
<% t('pages.events.show.yes_partecipate') :
t('pages.events.show.no_partecipate')
 %></h5><% end; else
if @event.past?
 %><h1>
<%= ::Temple::Utils.escape_html((t('pages.events.show.no_answer'))) %>
</h1><% else
 %><h4>
<%= ::Temple::Utils.escape_html((t('pages.events.show.will_be_in'))) %>
</h4><% _slim_controls1 = simple_form_for [@event, MeetingParticipation.new], remote: true do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("collapse".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("small-4".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :response, as: :radio_buttons, checked: 'Y', collection: [[t('buttons.yes_word'), 'Y'], [t('buttons.no_word'), 'N']], label: false))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("small-8".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("<span".freeze); _slim_controls2 << (" id=\"".freeze); _slim_controls2 << ("guests_number".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((raw t('pages.events.show.with_guests', field: (f.input :guests, label: false, input_html: { type: :number, style: "width: 35px;display:inline;height:21px;padding: 0", maxlength: 2 }))))).to_s); 
; _slim_controls2 << ("</span>".freeze); _slim_controls2 << ("</div>".freeze); _slim_controls2 << ((::Temple::Utils.escape_html((f.input :comment, as: :text, input_html: { rows: 4, cols: 10 }))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.submit t('pages.events.show.reply'), class: 'btn blue', data: { disable_with: t('sending') }))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><script type="text/javascript">
 $(function () { $('#meeting_participation_comment').charCount({ allowed: 255, warning: 10, counterText: '<%= ::Temple::Utils.escape_html((j t('pages.proposals.show.characters_left'))) %>' }); $("input[name='meeting_participation\[response\]']").change(function () { var selected_radio = $("input[name='meeting_participation\[response\]']:checked").val(); if (selected_radio == 'Y') { $('#guests_number').fadeIn(); } else { $('#guests_number').fadeOut(); } }); }); 
</script><% end; end; end %>
