<% @extend = true %>
<% content_for :html_options do %>
  <% { itemscope: '', itemtype: 'http://schema.org/Event' } %>
<% end %>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
  <div>
    <div class="card bg-base-100 p-6 mb-4">
      <div class="flex items-center gap-2 mb-4">
        <span class="badge badge-outline"><%= @event.private ? 'private' : 'public' %></span>
        <h1 class="text-2xl font-bold"><%= @event.title %></h1>
      </div>
      <div class="event_content prose max-w-none" itemprop="description">
        <%= simple_format(@event.description) %>
      </div>
    </div>

    <div class="card bg-base-100 p-6 mb-4">
      <h2 class="text-lg font-semibold mb-4"><%= @event.past? ? t('pages.events.show.when_past') : t('pages.events.show.when') %></h2>
      <div class="flex items-start gap-4">
        <%= render partial: 'events/calendar_icon', locals: { time: @event.starttime } %>
        <div class="event_dates_text">
          <meta itemprop="startDate" content="<%= l @event.starttime, format: '%Y-%m-%dT%H:%M' %>">
          <b><%= @event.formatted_starttime %></b>
          <div class="mt-1"><b><%= @event.formatted_endtime %></b></div>
        </div>
      </div>
    </div>
  </div>

  <% if @event.place %>
    <div>
      <div class="card bg-base-100 p-6 mb-4">
        <h2 class="text-lg font-semibold mb-4"><%= @event.past? ? t('pages.events.show.where_past') : t('pages.events.show.where') %></h2>
        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h4>
              <span itemprop="addressLocality"><%= "#{@event.place.municipality.description}" if @event.place.municipality %></span>,
              <span itemprop="streetAddress"><%= @event.place.address %></span>
            </h4>
          </div>
          <div id="map_canvas" style="width: 100%; height: 320px;" class="mt-4"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="map_modal" title="<%= t('pages.events.show.event_place') %>" style="width:400px;height:400px;display:none"></div>

<% if @event.votation? %>
  <div class="mt-6">
    <h3 class="text-lg font-semibold mb-4">
      <% if @event.proposals.count > 0 %>
        <%= t('pages.events.show.voting_proposals') %>
      <% else %>
        <%= t('pages.events.show.no_voting_proposals') %>
      <% end %>
    </h3>
    <div class="space-y-4">
      <% @proposals.each do |proposal| %>
        <% if can? :show, proposal %>
          <%= render 'proposals/proposal_list_element', proposal_list_element_for_mustache(proposal) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @event.meeting? %>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-6">
    <div>
      <%= render partial: 'event_comments/new_event_comment', locals: { event_comment: @event_comment } %>
    </div>
  </div>
  <div id="eventCommentsContainer">
    <%= render partial: 'events/comments' %>
  </div>
  <div id="loading_results">
    <span><%= t('pages.blog_posts.show.previous_comments') %></span>
  </div>
<% end %>

<% content_for :left_panel do %>
  <%= render 'events/left_panel' %>
<% end %>

<% if @event.place %>
  <script>
    EventsShow.latitudeOriginal = <%= @event.place.latitude_original %>;
    EventsShow.longitudeOriginal = <%= @event.place.longitude_original %>;
    EventsShow.latitudeCenter = <%= @event.place.latitude_center %>;
    EventsShow.longitudeCenter = <%= @event.place.longitude_center %>;
    EventsShow.zoom = <%= @event.place.zoom %>;
  </script>
<% end %>
<script>
  var pageURL = "<%= event_event_comments_url(@event) %>";
  EventsShow.votation = <%= @event.votation? %>;
</script>
