<h2>
<%= ::Temple::Utils.escape_html((@title)) %>
</h2><div id="create_proposal">
<% _slim_controls1 = form_for (@group.present?) ? [@group, @proposal] : @proposal, validate: true, remote: true do |f| %><% _slim_controls2 = ''.dup; 
; if request.xhr?
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("legend".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("first".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("number".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("1".freeze); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("title".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.proposals.new.step_base_info')))).to_s); 
; _slim_controls2 << ("</div>".freeze); end; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %></div><div class="legend first">
<div class="number">
2
</div><div class="title">
<%= ::Temple::Utils.escape_html((t('pages.proposals.new.step_classification'))) %>
</div></div><div class="legend">
<div class="number">
3
</div><div class="title">
<%= ::Temple::Utils.escape_html((t('pages.proposals.new.step_similar'))) %>
</div></div><div class="legend">
<div class="number">
4
</div><div class="title">
<%= ::Temple::Utils.escape_html((@problems.title)) %>
</div></div><div class="legend last">
<div class="number">
5
</div><div class="title">
<%= ::Temple::Utils.escape_html((t('pages.proposals.new.signatures'))) %>
</div></div><% else
 %><%= ::Temple::Utils.escape_html((render partial: 'fragments/error_messages', locals: {resource: @proposal})) %>
<% end %><div class="step root root">
<p>
<%= ::Temple::Utils.escape_html((f.label :title, t('pages.proposals.new.title_synthetic'))) %>
<%= ::Temple::Utils.escape_html((f.text_field :title, placeholder: t('pages.proposals.new.title_placeholder'), style: "width:500px")) %>
</p><% @available_areas = current_user.scoped_areas(@group, :insert_proposals)
if @group && @group.enable_areas && @group.group_areas.count > 0 && params[:action] == "new"
 %><p>
<%= ::Temple::Utils.escape_html((f.label :group_area_id)) %>
<% if @available_areas.size > 0
 %><%= ::Temple::Utils.escape_html((f.select :group_area_id, current_user.scoped_areas(@group, :insert_proposals).collect { |p| [p.name, p.id] }, {prompt: t('pages.proposals.new.no_work_area_selected')}, style: "width:500px")) %>
<% else
 %><%= ::Temple::Utils.escape_html((t('pages.proposals.new.cannot_add_proposal_in_work_area'))) %>
<% end %></p><% end %><p>
<%= ::Temple::Utils.escape_html((f.label :interest_borders_tkn)) %>
<%= ::Temple::Utils.escape_html((f.text_field 'interest_borders_tkn', "data-pre" => @proposal.interest_borders.to_json , placeholder: t('pages.proposals.new.interest_borders_tkn_placeholder'), style: "width:500px")) %>
</p><p>
<% if @group
 %> <input type="hidden" name="from_group" value="
<%= ::Temple::Utils.escape_html((@group.id)) %>
"/> 
<% end %><%= ::Temple::Utils.escape_html((f.hidden_field :private)) %>
<%= ::Temple::Utils.escape_html((f.hidden_field :proposal_type_id)) %>
<%= ::Temple::Utils.escape_html((f.hidden_field :proposal_votation_type_id)) %>
<%= ::Temple::Utils.escape_html((f.hidden_field :topic_id)) %>
</p></div><div class="step">
<% if ::Configuration.proposal_categories
 %><p>
<%= ::Temple::Utils.escape_html((f.label :proposal_category_id)) %>
<%= ::Temple::Utils.escape_html((f.select :proposal_category_id, options_for_select(ProposalCategory.all.collect { |p| [p.description, p.id, {'data-imagesrc' => image_path("proposal_categories/#{p.name}_s.png")}]}, @proposal.proposal_category_id),{include_blank: t('pages.proposals.new.category_prompt')}, {style: 'width:500px'})) %>
</p><% end; if ::Configuration::folksonomy
 %><p>
<%= ::Temple::Utils.escape_html((f.label :tags_list)) %>
<%= ::Temple::Utils.escape_html((f.text_field :tags_list, placeholder: t('pages.proposals.new.tags_list_placeholder'), style: "width:500px")) %>
</p><% end %></div><div class="step" id="suggestions">

</div><div class="step">
<% _slim_controls3 = f.fields_for :sections, @problems do |s| %><% _slim_controls4 = ''.dup; 
; _slim_controls4 << ((::Temple::Utils.escape_html((s.hidden_field :title))).to_s); 
; _slim_controls4 << ((::Temple::Utils.escape_html((s.hidden_field :seq))).to_s); 
; _slim_controls5 = s.fields_for :paragraphs, @problems.paragraphs.build(seq: 1) do |p|; _slim_controls6 = ''.dup; 
; _slim_controls6 << ("<p".freeze); _slim_controls6 << (">".freeze); 
; _slim_controls6 << ((::Temple::Utils.escape_html((p.label :content, @problems.question))).to_s); 
; _slim_controls6 << ((::Temple::Utils.escape_html((p.cktext_area :content, rows: 5, style: "width:98%;", ckeditor: {toolbar: 'proposal', language: I18n.locale}))).to_s); 
; _slim_controls6 << ((::Temple::Utils.escape_html((p.hidden_field :seq))).to_s); 
; _slim_controls6 << ("</p>".freeze); _slim_controls6; end; _slim_controls4 << ((::Temple::Utils.escape_html((_slim_controls5))).to_s); _slim_controls4 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls3)) %><div class="suggestion_box">
<%= ::Temple::Utils.escape_html((raw @problems.suggestion)) %>
</div></div><div class="step">
<%= ::Temple::Utils.escape_html((f.label :signatures)) %>
<%= ::Temple::Utils.escape_html((f.text_field :signatures)) %>
<%= ::Temple::Utils.escape_html((f.radio_button :petition_phase, :signatures)) %>
<%= ::Temple::Utils.escape_html((f.label :petition_phase, 'Collect signatures')) %>
<%= ::Temple::Utils.escape_html((f.radio_button :petition_phase, :debate)) %>
<%= ::Temple::Utils.escape_html((f.label :petition_phase, 'Debate and build')) %>
</div><p>
<%= ::Temple::Utils.escape_html((link_to t('buttons.cancel'), :back, class: 'btn' unless request.xhr?)) %>
<%= ::Temple::Utils.escape_html((f.submit t('pages.proposals.new.create_button'), class: 'btn blue disable', data:{ disable_with: t('loading') })) %>
</p><script type="text/javascript">
 $(function() { var input = $('#proposal_interest_borders_tkn') input.tokenInput("<%= ::Temple::Utils.escape_html((interest_borders_path(format: :json))) %>", { propertyToSearch: 'text', crossDomain: false, prePopulate: input.data("pre"), hintText: "<%= ::Temple::Utils.escape_html((t('interest_borders.hint'))) %>", noResultsText: "<%= ::Temple::Utils.escape_html((t('interest_borders.no_place_found'))) %>", searchingText: "<%= ::Temple::Utils.escape_html((t('interest_borders.searching'))) %>", preventDuplicates: true, allowTabOut: true }); input = $('#proposal_tags_list') if (input != null) { input.tokenInput("<%= ::Temple::Utils.escape_html((tags_path(format: :json ))) %>", { theme: "facebook", crossDomain: false, allowFreeTagging: true, minChars: 3, hintText: "<%= ::Temple::Utils.escape_html((t('digit_tags'))) %>", searchingText: "<%= ::Temple::Utils.escape_html((t('digit_tags'))) %>", preventDuplicates: true, allowTabOut: true, tokenValue: "name" }) } $('#proposal_proposal_category_id').select2({ minimumResultsForSearch: -1, templateResult: formatCategory, templateSelection: formatCategory, escapeMarkup: function(m) { return m; } }); }); 
</script><a class="close-reveal-modal">
×
</a>
