<% percentage = ((@group.actual_storage_size.to_f / @group.max_storage_size.to_f) * 100).round(2)
 %><ul class="pricing-table">
<li class="title">
<%= ::Temple::Utils.escape_html((t('pages.groups.documents.storage_size'))) %>
</li><li class="price">
<%= ::Temple::Utils.escape_html((percentage)) %>
%
</li><li class="description">
<div class="progress">
 <span class="meter" style="width: 
<%= ::Temple::Utils.escape_html((percentage)) %>
%">
<%= ::Temple::Utils.escape_html((percentage)) %>
% 
</div></li><li class="bullet-item">
<%= ::Temple::Utils.escape_html((t('pages.groups.documents.max_storage_size'))) %>
: 
<b>
<%= ::Temple::Utils.escape_html(((@group.max_storage_size.to_f / 1024).round(2))) %>
MB
</b><br />
</li><li class="bullet-item">
<%= ::Temple::Utils.escape_html((t('pages.groups.documents.current_storage_usage'))) %>
: 
<b>
<%= ::Temple::Utils.escape_html(((@group.actual_storage_size.to_f / 1024).round(2))) %>
MB
</b><br />
</li></ul>
