<div class="card">
<h2><%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.index.not_enabled'))) %>
</h2><p>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.index.description', app_short_name: APP_SHORT_NAME))) %>
<br />
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.index.description2'))) %>
<br />
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.index.description3'))) %>
<br />
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.index.description4'))) %>
<%= ::Temple::Utils.escape_html((link_to t('pages.groups.administration_panel.permissions').downcase, group_participation_roles_path(@group))) %>

</p><div style="margin:auto; text-align: center;">
<%= ::Temple::Utils.escape_html((link_to t('pages.groups.edit_work_areas.index.enable'),
enable_areas_group_url(@group), method: :put, class: 'btn blue',
style: 'margin:auto; font-size: 4em; padding: 30px 30px !important;')) %>

</div><% _slim_controls1 = content_for :left_panel do %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((render partial: 'groups/administration_panel'))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %></div>
