<ul class="breadcrumbs">
<li class="current">
<%= ::Temple::Utils.escape_html(('All working areas')) %>
</li></ul><% _slim_controls1 = render layout: "layouts/page_title", locals: {title: t('pages.groups.edit_work_areas.manage_group_areas')} do %><% _slim_controls2 = ''.dup; 
; _slim_controls3 = link_to new_group_group_area_url(@group, manage: true), remote: true, class: "btn disable" do; _slim_controls4 = ''.dup; 
; _slim_controls4 << ("<i".freeze); _slim_controls4 << (" class=\"".freeze); _slim_controls4 << ("fa-solid".freeze); _slim_controls4 << (" ".freeze); _slim_controls4 << ("fa-plus".freeze); _slim_controls4 << ("\"".freeze); _slim_controls4 << (">".freeze); 
; _slim_controls4 << ("</i>".freeze); _slim_controls4 << ((::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.manage.new_area')))).to_s); 
; _slim_controls4; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls3))).to_s); _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><div id="new_group_area_container">

</div><%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.manage.list_title'))) %>
<div id="group_areas_container">
<%= ::Temple::Utils.escape_html((render partial: 'group_areas_list')) %>
</div><div id="edit_group_area_container">

</div><% _slim_controls5 = content_for :left_panel do %><% _slim_controls6 = ''.dup; 
; _slim_controls6 << ((::Temple::Utils.escape_html((render partial: 'groups/administration_panel'))).to_s); 
; _slim_controls6 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls5)) %><script type="text/javascript">
 $(function () { $(document).on('mouseover', '.areas_button', function () { var _this = $(this); var _areas_list = _this.next('.areas_list'); _areas_list.show().position({ at: "left bottom", my: "left bottom", of: _this }); }); $(document).on('mouseout', '.areas_button', function () { var _this = $(this); var _areas_list = _this.next('.areas_list'); setTimeout(function () { if (_areas_list.is(':hover') || _this.is(':hover')) { } else { _areas_list.hide(); } }, 200); }); $(document).on('mouseout', '.areas_list', function () { var _this = $(this); var _areas_button = _this.prev('.areas_button'); setTimeout(function () { if (_areas_button.is(':hover') || _this.is(':hover')) { } else { _this.hide(); } }, 200); }); $(document).on('click', '[data-change-area-participation]', function (event) { var group_area_id = $(this).data('group_area_id'); var user_id = $(this).data('user_id'); var area_participation_id = $(this).data('area_participation_id'); var checked_ = this.checked; if (checked_) { $.ajax({ data: { "area_participation[user_id]": user_id }, url: "/groups/<%= ::Temple::Utils.escape_html((@group.id)) %>/group_areas/" + group_area_id + "/area_participations", dataType: 'script', type: 'POST' }); } else { $.ajax({ data: { "area_participation[user_id]": user_id }, url: "/groups/<%= ::Temple::Utils.escape_html((@group.id)) %>/group_areas/" + group_area_id + "/area_participations/-1", dataType: 'script', type: 'DELETE' }); } }); }); 
</script>
