<div class="text">
<b>
<%= ::Temple::Utils.escape_html((t('pages.steps.choose_image.title'))) %>
<br />
</b><% if @user.from_identity_provider?
 %><%= ::Temple::Utils.escape_html((t('pages.steps.choose_image.Identity_provider'))) %>
<br />
<%= ::Temple::Utils.escape_html((t('pages.steps.choose_image.Identity_provider2'))) %>
<br />
<% else
 %><%= ::Temple::Utils.escape_html((t('pages.steps.choose_image.gravatar'))) %>
<br />
<% end %><%= ::Temple::Utils.escape_html((t('pages.steps.choose_image.edit_image'))) %>
<b>
<%= ::Temple::Utils.escape_html((t('pages.users.show.edit_image'))) %>
</b>. 
<div style="clear: both">
</div><% _slim_controls1 = link_to complete_tutorial_step_path(@step.tutorial, @step), class: 'btn blue', style: "float:right;" do %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ("<i".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("fa-solid".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("fa-arrow-right".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("</i>".freeze); _slim_controls2 << ((::Temple::Utils.escape_html((t('buttons.next')))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><div style="clear: both">
</div></div>
