<div class="row">
<div class="columns large-8">
<div class="friends_scroll" id="my_friends">
<input class="search" placeholder="Search" />
<ul class="list friends_list">
<% current_user.facebook.get_connections("me", "friends?fields=id,name,first_name, picture.type(square)").each do |friend|
 %> <li class="fb_friend" data-id=
<%= ::Temple::Utils.escape_html((friend['id'])) %>
> 
<div class="panel">

</div><div class="row">

</div><div class="columns large-2">
<%= ::Temple::Utils.escape_html((image_tag friend['picture']['data']['url'])) %>
</div><div class="columns large-10">
<% _slim_controls1 = form_for 'message', url: facebook_send_message_proposal_url(@proposal), remote: true do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("name".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("large-12".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((friend['name']))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %></div><div class="row">

</div><div class="columns large-9">
<%= ::Temple::Utils.escape_html((f.hidden_field :friend_id, value: friend['id'])) %>
<%= ::Temple::Utils.escape_html((f.hidden_field :url, value: @proposal.private ? group_proposal_url(@group, @proposal) : proposal_url(@proposal))) %>
<%= ::Temple::Utils.escape_html((f.text_area :body, value: "Hi #{friend['first_name']},\ntake a look at this proposal on Airesis. You may be interested in it!", class: 'fb_msg_area')) %>
</div><div class="columns large-3">
<%= ::Temple::Utils.escape_html((f.button t('buttons.send'), class: 'btn')) %>
</div><% end %></ul></div></div></div><div class="columns large-4">
<div class="row">
<p>
<%= ::Temple::Utils.escape_html(('Invitations will be sent via Facebook message along with a link to this proposal so your friends can participate.')) %>
</p></div><div class="row sent_friends" data-added="0" id="sent_friends">

</div></div><script type="text/javascript">
 var options = { valueNames: [ 'name' ] }; var friendsList = new List('my_friends', options); 
</script>
