<% if @group
if (!params[:group_area_id] && (can? :insert_proposal, @group)) || (params[:group_area_id] && (can? :insert_proposal, @group_area))
end; _slim_controls1 = link_to new_proposal_path(group_id: @group&.id, group_area_id: params[:group_area_id], category: params[:category], topic_id: @topic&.id, models: true), id: 'new_proposal_button', class: "create_proposal btn blue disable" do %><% _slim_controls2 = ''.dup; 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><i class="fa-solid fa-plus">
</i><%= ::Temple::Utils.escape_html((t('proposals.create_button'))) %>
<% end %><div class="choose_model" style="display:none;">
<h2 class="modal_title">
<%= ::Temple::Utils.escape_html((t('pages.proposals.index.choose_model'))) %>
</h2><div class="row">
<% ProposalType.active.for_groups.order(:seq).each do |proposal_type|
 %><div class="columns large-3 medium-6 small-12">
 <div class="proposal_model_option" data-url="
<%= ::Temple::Utils.escape_html((new_proposal_path(group_id: @group&.id, group_area_id: params[:group_area_id], category: params[:category], topic_id: @topic&.id, proposal_type_id: proposal_type.name, models: true))) %>
" style="background-color: 
<%= ::Temple::Utils.escape_html((proposal_type.color)) %>
"> 
</div><div class="model_name">

</div><div class="name">
<%= ::Temple::Utils.escape_html((proposal_type.description)) %>
</div><div class="icon">
<%= ::Temple::Utils.escape_html((image_tag("proposal_types/#{proposal_type.name.downcase}.png", align: 'middle', alt: proposal_type.description, title: proposal_type.description))) %>
</div><% end %></div></div><a class="close-reveal-modal">
×
</a><% else
_slim_controls3 = link_to new_proposal_path(proposal_type_id: ProposalType::STANDARD, category: params[:category]), id: 'new_proposal_button', class: "btn blue disable" do %><% _slim_controls4 = ''.dup; 
; _slim_controls4 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls3)) %><i class="fa-solid fa-plus">
</i><%= ::Temple::Utils.escape_html((t('proposals.create_button'))) %>
<% end %>
