<% if signed_in? && @my_nickname && @proposal.is_anonima?
 %><div class="mybox">
<h4>
</h4></div><i class="fa-solid fa-circle-info nickname-panel">
</i><%= ::Temple::Utils.escape_html((t('pages.proposals.show.your_nickname_is'))) %>
<div class="mycont clearfix">
<%= ::Temple::Utils.escape_html((user_tag(current_user, @proposal))) %>
</div><div class="regenerate_nickname">
<% if can? :update, @my_nickname
 %><%= ::Temple::Utils.escape_html((link_to t('pages.proposals.show.regenerate_nickname'), proposal_nickname_path(@my_nickname), method: :put, class: 'btn', style: 'display: inline-block')) %>
<div>
<%= ::Temple::Utils.escape_html(('(puoi farlo ancora per ')) %>
</div><div class="change_nick">
</div><%= ::Temple::Utils.escape_html((')')) %>
<% end %></div><script type="text/javascript">
 var endsDate = new Date(<%= ::Temple::Utils.escape_html(((@my_nickname.created_at + 10.minutes).utc.to_i * 1000)) %>); $('.change_nick').countdown($.extend({ until: endsDate, compact: true, onExpiry: removeButton }, $.countdown.regionalOptions['it'])); function removeButton() { $('.regenerate_nickname').fadeOut(); } 
</script><% end %>
