<% unless @proposals.empty? || !::Configuration.phases_active %>
  <%= render '/proposals/orders/order_bar' %>
<% end %>
<ul id="proposalsListContainer<%= params[:state] || params[:view] %>" class="grid grid-cols-1 xl:grid-cols-2 gap-4">
  <%= render 'list', proposals: @proposals %>
</ul>
<% unless @search.results.last_page? %>
  <div id="loading_proposals<%= params[:state] || params[:view] %>" class="loading_proposals card">
    <span><%= t('pages.proposals.index.show_more') %></span>
  </div>
