<% unless @proposals.empty? || !::Configuration.phases_active
 %><%= ::Temple::Utils.escape_html((render '/proposals/orders/order_bar')) %>
<% end %> <ul id="proposalsListContainer
<%= ::Temple::Utils.escape_html((params[:state] || params[:view])) %>
" class="small-block-grid-1 xlarge-block-grid-2"> 
<%= ::Temple::Utils.escape_html((render 'list', proposals: @proposals)) %>
<% unless @search.results.last_page?
 %> <div id="loading_proposals
<%= ::Temple::Utils.escape_html((params[:state] || params[:view])) %>
" class="loading_proposals card"> 
<span>
<%= ::Temple::Utils.escape_html((t('pages.proposals.index.show_more'))) %>
</span> <div id="loading_proposals
<%= ::Temple::Utils.escape_html((params[:state] || params[:view])) %>
_2" class="loading_proposals card" style="display:none"> 
<div class="waitDiv">
<%= ::Temple::Utils.escape_html((image_tag "facebook-loader.gif", alt: "loading...")) %>
</div><script type="text/javascript">
 $(function () { //show_cards(); var currentPage = 1; $('#loading_proposals<%= ::Temple::Utils.escape_html((params[:state] || params[:view])) %>').click(function () { $(this).hide(); $(this).next().show(); currentPage++; var cat = <%= ::Temple::Utils.escape_html((params[:category] || 'null')) %>; var view = <%= ::Temple::Utils.escape_html((params[:view] || 'null')) %>; var state = '<%= ::Temple::Utils.escape_html((@search.proposal_state_tab || 'null')) %>'; var group = <%= ::Temple::Utils.escape_html((@search.group_id || 'null')) %>; var order = '<%= ::Temple::Utils.escape_html((params[:order] || 'null')) %>'; var nurl = '/proposals/endless_index?scroll=true'; if (cat != null && cat != 'null') nurl += '&category=' + cat; if (view != null && view != 'null') nurl += '&view=' + view; if (state != null && state != 'null') nurl += '&state=' + state; if (group != null && group != 'null') nurl += '&group_id=' + group; if (order != null && order != 'null') nurl += '&order=' + order; $.ajax({ url: nurl, data: {page: currentPage}, type: 'get'}); }); }) 
</script><% end %><script type="text/javascript">
 $(function () { disegnaProgressBar(); disegnaCountdown(); }); 
</script>
