<h4>
<%= ::Temple::Utils.escape_html((t('pages.proposals.vote_panel.single_title'))) %>
</h4><h4>
<%= ::Temple::Utils.escape_html((@proposal.secret_vote ? t('pages.proposals.vote_panel.secret_vote') : t('pages.proposals.vote_panel.clear_vote'))) %>
</h4><% _slim_controls1 = form_for 'data', url: votation_vote_path(proposal_id: @proposal.id), remote: true, method: :put do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.hidden_field 'vote_type'))).to_s); 
; if current_user.rotp_enabled && ::Configuration.rotp
; _slim_controls2 << ((::Temple::Utils.escape_html((f.label 'Token di sicurezza'))).to_s); 
; _slim_controls2 << ("<br".freeze); _slim_controls2 << (" />".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.text_field 'token', maxlength: 6))).to_s); 
; end; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><ul class="button-group even-3">
<li>
<%= ::Temple::Utils.escape_html((link_to t('pages.votations.show.vote_positive'), '#',
-                   class: "votegreen votebutton button success", title: t('pages.votations.show.vote_positive'), data: {vote_type: VoteType::POSITIVE})) %>
</li><li>
<%= ::Temple::Utils.escape_html((link_to t('pages.votations.show.vote_neutral'), '#',
-                   class: "voteyellow votebutton button secondary", title: t('pages.votations.show.vote_neutral'), data: {vote_type: VoteType::NEUTRAL})) %>
</li><li>
<%= ::Temple::Utils.escape_html((link_to t('pages.votations.show.vote_negative'), '#',
-                   class: "votered votebutton button alert", title: t('pages.votations.show.vote_negative'), data: {vote_type: VoteType::NEGATIVE})) %>
</li></ul><%= ::Temple::Utils.escape_html((image_tag "spinner.gif", style: 'display: none;', class: "loading_vote")) %>
<div style="clear: both">
</div>
