<%= turbo_stream.replace "authors_list" do %>
  <%= render "authors_list" %>
<% end %>
<%= turbo_stream.replace "available_authors_button" do %>
  <%= render "available_authors_button" %>
<% end %>
<%= turbo_stream.replace "available_authors_modal" do %>
  <div id="available_authors_modal"></div>
<% end %>
<%= render partial: "layouts/flash_stream" %>
