<% @page_title = @proposal.title %>
<% @meta_description = @proposal.short_content %>

<% content_for :head do %>
  <meta property="og:url" content="<%= current_url %>">
  <meta property="og:title" content="<%= @proposal.title %>">
  <meta property="og:type" content="article">
  <meta property="og:image" content="<%= asset_url('logo120.png') %>">
  <meta property="og:site_name" content="<%= ENV['APP_LONG_NAME'] %>">
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>">
  <meta property="article:published_time" content="<%= @proposal.created_at.strftime("%Y/%m/%d") %>">
  <meta property="article:author" content="<%= (@proposal.users.first || @proposal.proposal_lives.first.users.first).fullname %>">
  <meta property="article:section" content="<%= @proposal.category.description %>">
  <meta property="article:tag" content="<%= @proposal.tags_list %>">
  <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
<% end %>

<%= render partial: 'proposals/show_proposal' %>

<% if ((can? :participate, @proposal) || (!current_user && !@proposal.private)) && (!@proposal.voting?) %>
  <div id="proposalNewComment" class="blogNewComment">
    <%= render partial: @proposal_comment = ProposalComment.new %>
  </div>
<% else %>
  <div class="h-5" style="height:20px"></div>
<% end %>

<% if @proposal.voting? %>
  <% unless @proposal.is_petition? %>
    <h4 class="text-xl font-bold mt-8"><%= t('pages.proposals.show.no_contributes') %></h4>
  <% end %>
<% else %>
  <div id="order_bar">
    <%= render partial: 'proposal_comments/order_bar' %>
  </div>

  <div id="loading_contributes" class="m-auto text-center">
    <%= image_tag 'ajax-loader.gif' %><br>
    <b class="text-base-content/60"><%= t('pages.proposals.show.loading_contributions') %></b>
  </div>

  <div id="proposalCommentsContainer"></div>

  <div id="loading_results" class="hidden" style="display:none;">
    <span><%= t('pages.proposals.show.previos_contributes') %></span>
  </div>

  <%= render partial: 'report_contribute' %>
<% end %>

<% if current_user && !Rails.env.test? %>
  <%= subscribe_to proposal_path(@proposal) %>
<% end %>

<% content_for :left_panel do %>
  <%= render 'proposals/left_panel' %>
<% end %>
