<table cellspacing="0" class="forums table table-striped" id="forums">
<thead>
<tr>
<th class="desc">
<%= ::Temple::Utils.escape_html((t('forum', scope: 'frm.general'))) %>
</th><th class="topics-count">
<%= ::Temple::Utils.escape_html((t('topics', scope: 'frm.general'))) %>
</th><th class="posts-count">
<%= ::Temple::Utils.escape_html((t('posts', scope: 'frm.general'))) %>
</th><th class="views-count">
<%= ::Temple::Utils.escape_html((t('frm.forums.index.views'))) %>
</th><th class="last-post">
<%= ::Temple::Utils.escape_html((t('last_post'))) %>
</th></tr></thead><tbody>
<%= ::Temple::Utils.escape_html((render category.forums)) %>
</tbody></table>
