<% @page_title = "#{@forum.title} - #{@group.name}" %>
<% @extend = true %>

<div class="forum">
  <%= render partial: 'frm/forums/head', locals: { forum: @forum } %>
  <%= forem_pages_widget(@pagy) %>

  <% if @topics.empty? %>
    <div class="bg-base-100 border-2 border-base-content/15 p-8 text-center">
      <i class="fa-solid fa-comments text-4xl text-base-content/20 mb-3"></i>
      <p class="text-sm text-base-content/40"><%= t('frm.topic.none') %></p>
    </div>
  <% else %>
    <div class="bg-base-100 border-2 border-base-content/15 divide-y divide-base-content/10">
      <%= render @topics %>
    </div>
  <% end %>

  <%= forem_pages_widget(@pagy) %>
</div>

<%= render partial: '/frm/application/forem_footer' %>
