<div id="comment<%= comment.id %>" class="blogComment card bg-base-200 p-4 mb-2" <%= 'data-collapsed' if comment.collapsed %>>
  <div class="blog-comment-image flex items-center gap-2 mb-2">
    <%= avatar(comment.user, size: 20) %>
    <span class="blogPoster font-semibold"><%= link_to_user comment.user %></span>
  </div>
  <div class="blog-comment-content mb-2">
    <%= raw auto_link((h(comment.body)).gsub(/\n/, '<br/>'), html: { target: '_blank' }, sanitize: false) { |text| truncate(text, length: 15) } %>
  </div>
  <div class="blog-comment-footer text-sm text-base-content/60">
    <% if comment.likers.include? current_user %>
      <%= link_to 'Unlike', like_event_event_comment_path(@event, comment), method: :post, remote: true, data: { other: 'Like' }, onclick: 'switchText($(this))' %>
    <% else %>
      <%= link_to 'Like', like_event_event_comment_path(@event, comment), method: :post, remote: true, data: { other: 'Unlike' }, onclick: 'switchText($(this))' %>
    <% end %>
    &middot;
    <%= time_in_words(comment.created_at) %>
    <% if current_user and (current_user.id == comment.user_id) %>
      <%= link_to t('pages.blog_posts.comment.delete_button'), [@event, comment], method: :delete, data: { remote: true, confirm: t('pages.blog_posts.comment.confirm_delete') }, class: "deleteCommentLink", style: 'float:right' %>
    <% end %>
  </div>
</div>
