<h2>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.life_cycle_number', life: @life.seq))) %>
</h2><p>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.end_date'))) %>
<b>
<%= ::Temple::Utils.escape_html((l @life.created_at)) %>
</b></p><p>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.score_reached'))) %>
<b>
<%= ::Temple::Utils.escape_html((@life.rank)) %>
</b><br />
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.evaluation_reached'))) %>
<b>
<%= ::Temple::Utils.escape_html((@life.valutations)) %>
</b></p><p>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.quorum_used'))) %>
<br />
<b>
<%= ::Temple::Utils.escape_html((@life.quorum.explanation)) %>
</b></p><p>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.editors_in_life_cycle'))) %>
<br />
<% @life.users.each do |user|
 %><%= ::Temple::Utils.escape_html((user_tag(user))) %>
<% end %></p>
