<h2><%= ::Temple::Utils.escape_html((t('pages.groups.invite_your_friends.title'))) %>
</h2><% _slim_controls1 = simple_form_for [@group, @group_invitation], remote: request.xhr? do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :emails_list, as: :string))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :testo, as: :text, placeholder: t('pages.groups.invite_your_friends.text_to_send')))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.hidden_field :group_id))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.cancel'), '#', class: 'btn', data: { reveal_close: '' }))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.go_back'), :back, class: 'btn', data: { back: '' }))).to_s); 
; _slim_controls3 = f.button :button, class: "btn blue" do; _slim_controls4 = ''.dup; 
; _slim_controls4 << ("<i".freeze); _slim_controls4 << (" class=\"".freeze); _slim_controls4 << ("fa-solid".freeze); _slim_controls4 << (" ".freeze); _slim_controls4 << ("fa-envelope".freeze); _slim_controls4 << ("\"".freeze); _slim_controls4 << (">".freeze); 
; _slim_controls4 << ("</i>".freeze); _slim_controls4 << ((::Temple::Utils.escape_html((t('buttons.send')))).to_s); 
; 
; _slim_controls4; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls3))).to_s); _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><script>
$(function () {

  $('#group_invitation_emails_list').tokenInput([], {

    theme: "facebook",

    crossDomain: false,

    allowFreeTagging: true,

    hintText: "<%= ::Temple::Utils.escape_html((t('pages.groups.invite_your_friends.type_email_addresses'))) %>",

    searchingText: "<%= ::Temple::Utils.escape_html((t('pages.groups.invite_your_friends.type_email_addresses'))) %>",

    invalidTokenText: "<%= ::Temple::Utils.escape_html((t('pages.groups.invite_your_friends.email_not_valid'))) %>",

    preventDuplicates: true,

    allowTabOut: true,

    tokenValidation: function (item) {

      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      return re.test(item.name);

    },

    avoidBlank: true

  });

});</script>
