<dialog id="login_modal" class="modal">
  <div class="modal-box bg-base-100 border-2 border-base-content shadow-brutal-lg max-w-md">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <h3 class="font-bold text-2xl mb-6"><%= t('pages.header.login') %></h3>

    <% if ::Configuration.socialnetwork_active %>
      <div class="flex flex-col gap-3 mb-4">
        <%= link_to omniauth_authorize_path(:user, :google_oauth2),
            class: 'btn btn-outline border-2 gap-3 w-full justify-center font-semibold' do %>
          <svg class="w-5 h-5" viewBox="0 0 533.5 544.3">
            <path d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z" fill="#4285f4"/>
            <path d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z" fill="#34a853"/>
            <path d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z" fill="#fbbc04"/>
            <path d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z" fill="#ea4335"/>
          </svg>
          <%= t('pages.top_panel.google_login') %>
        <% end %>

        <%= link_to omniauth_authorize_path(:user, :facebook),
            class: 'btn btn-outline border-2 gap-3 w-full justify-center font-semibold' do %>
          <i class="fa-brands fa-facebook text-lg text-[#1877F2]"></i>
          <%= t('pages.top_panel.facebook_login') %>
        <% end %>

        <%= link_to omniauth_authorize_path(:user, :twitter),
            class: 'btn btn-outline border-2 gap-3 w-full justify-center font-semibold' do %>
          <i class="fa-brands fa-twitter text-lg text-[#1DA1F2]"></i>
          <%= t('pages.top_panel.twitter_login') %>
        <% end %>
      </div>

      <div class="divider text-sm font-medium"><%= t('words.or') %></div>
    <% end %>

    <%= simple_form_for User.new, url: user_session_path, html: { class: 'flex flex-col gap-4', id: 'login_user' } do |f| %>
      <div class="form-control">
        <%= f.input_field :email, required: true, placeholder: t('activerecord.attributes.user.email'),
            class: 'input input-bordered w-full' %>
      </div>

      <div class="form-control">
        <%= f.input_field :password, as: :password, required: true, placeholder: t('activerecord.attributes.user.password'),
            class: 'input input-bordered w-full' %>
      </div>

      <div class="flex items-center justify-between">
        <label class="flex items-center gap-2 cursor-pointer">
          <%= f.check_box :remember_me, class: 'checkbox checkbox-primary checkbox-sm' %>
          <span class="text-sm"><%= t('pages.header.menu.remember_me') %></span>
        </label>
      </div>

      <div class="modal-action mt-0">
        <%= button_tag(type: 'submit', class: 'btn btn-primary w-full font-semibold') do %>
          <i class="fa-solid fa-right-to-bracket mr-2"></i>
          <%= t('pages.header.menu.login_button') %>
        <% end %>
      </div>
    <% end %>

    <div class="divider mt-4"></div>

    <div class="flex flex-col gap-2 text-sm items-center">
      <%= link_to t('pages.header.menu.forgot_password_button'), new_password_path(resource_name), class: 'link link-hover text-primary' %>
      <%= link_to t('pages.header.menu.resend_email_button'), new_confirmation_path(resource_name), class: 'link link-hover text-primary' %>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>
