<% if Rails.env.test?
 %>toastr.options = {tapToDismiss: false, extendedTimeOut: 0, timeOut: 0};

<% end; flash.each do |key, value|
case key
when 'info'
 %>toastr.info('<%= ::Temple::Utils.escape_html((j raw value)) %>');
<% when 'notice'
 %>toastr.success('<%= ::Temple::Utils.escape_html((j raw value)) %>');
<% when 'warn'
 %>toastr.warning('<%= ::Temple::Utils.escape_html((j raw value)) %>');
<% else
 %>toastr.error('<%= ::Temple::Utils.escape_html((j raw value)) %>');

<% end; end; Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement|
 %>toastr.options = {tapToDismiss: false, extendedTimeOut: 0, timeOut: 0};
toastr.info('<div id="announcement<%= ::Temple::Utils.escape_html((announcement.id)) %>"><%= ::Temple::Utils.escape_html((j raw announcement.message)) %><%= ::Temple::Utils.escape_html((link_to "OK", hide_announcement_path(announcement), class: "btn", style: "color: #444", remote: true, method: :post)) %></div>');
<% end %>
