<div class="f-dropdown large bg-white shadow-xl rounded-lg p-6" data-dropdown-content="" id="personal_menu_large">
<div class="row" data-equalizer="">
<div class="columns large-6 gray hidden lg:block" data-equalizer-watch="">
<% @groups = current_user.groups
if @groups.any?
@groups.each do |group|
 %><%= ::Temple::Utils.escape_html((render 'groups/group_menu_item', group: group)) %>
<% end; end %><%= ::Temple::Utils.escape_html((render 'groups/open_space_menu_item')) %>

</div><div class="columns large-6 text-right" data-equalizer-watch="">
<h2 class="text-2xl font-bold mb-4"><%= ::Temple::Utils.escape_html((link_to current_user.fullname, home_url, class: 'text-gray-900 hover:text-blue-600')) %>

</h2><div class="sep border-t border-gray-100 my-2">
</div><ul class="list-none p-0 m-0 space-y-2">
<li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.my_page'), home_url, class: 'text-gray-700 hover:text-blue-600')) %>
</li><li>
<% if current_user.blog
 %><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.my_blog'), current_user.blog, class: 'text-gray-700 hover:text-blue-600')) %>
<% else
 %><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.create_blog'), new_blog_path, class: 'text-gray-700 hover:text-blue-600')) %>
<% end %></li><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.preferences'), user_url(current_user), class: 'text-gray-700 hover:text-blue-600')) %>

</li><div class="sep border-t border-gray-100 my-2">
</div><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.logout'), destroy_user_session_path, method: 'delete', class: 'text-red-600 hover:text-red-800')) %>

</li><% if is_moderator?
 %><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.moderator'), moderator_panel_path, class: 'text-blue-600 hover:text-blue-800 font-semibold')) %>

</li><% end; if is_admin?
 %><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.administration'), admin_panel_path, class: 'text-purple-600 hover:text-purple-800 font-semibold')) %>

</li><% end %></ul></div></div></div><div class="f-dropdown gray medium bg-white shadow-xl rounded-lg p-4" data-dropdown-content="" id="personal_menu_small">
<div class="row">
<div class="columns text-right">
<h2 class="text-xl font-bold mb-3"><%= ::Temple::Utils.escape_html((current_user.fullname)) %>

</h2><div class="sep border-t border-gray-100 my-2">
</div><ul class="list-none p-0 m-0 space-y-2">
<li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.my_page'), home_url, class: 'text-gray-700 hover:text-blue-600')) %>
</li><li>
<% if current_user.blog
 %><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.my_blog'), current_user.blog, class: 'text-gray-700 hover:text-blue-600')) %>
<% else
 %><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.create_blog'), new_blog_path, class: 'text-gray-700 hover:text-blue-600')) %>
<% end %></li><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.preferences'), user_url(current_user), class: 'text-gray-700 hover:text-blue-600')) %>

</li><div class="sep border-t border-gray-100 my-2">
</div><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.logout'), destroy_user_session_path, method: 'delete', class: 'text-red-600 hover:text-red-800')) %>

</li><% if is_moderator?
 %><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.moderator'), moderator_panel_path, class: 'text-blue-600 hover:text-blue-800')) %>

</li><% end; if is_admin?
 %><li><%= ::Temple::Utils.escape_html((link_to t('pages.header.menu.administration'), admin_panel_path, class: 'text-purple-600 hover:text-purple-800')) %>

</li><% end %></ul></div></div></div><div class="cont-mess f-dropdown gray medium bg-white shadow-xl rounded-lg p-4" data-dropdown-content="" id="alert_cont">
loading
</div>
