<tbody id="categories_list">
  <% @categories.each do |category| %>
    <tr class="forum">
      <td><%= category.name %></td>
      <td>
        <%= link_to edit_group_frm_admin_category_url(@group, category), class: "btn btn-sm" do %>
          <i class="fa-solid fa-pencil"></i>
          <%= t('edit', scope: 'frm.admin.categories') %>
        <% end %>
      </td>
      <td>
        <%= link_to group_frm_admin_category_url(@group, category), data: { turbo_method: :delete, turbo_confirm: t('delete_confirm', scope: 'frm.admin.categories') }, class: "btn btn-sm btn-error" do %>
          <i class="fa-regular fa-trash-can"></i>
          <%= t('delete', scope: 'frm.admin.categories') %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
