<h2>
<%= ::Temple::Utils.escape_html((t('frm.admin.category.edit', title: @category.name))) %>
</h2><% _slim_controls1 = simple_form_for @category, url: group_frm_admin_category_url(@group,@category), remote: remote do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :name))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :tags_list))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :visible_outside))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.cancel'),'#', class: 'btn', data: {'reveal-close' => ''}))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.go_back'), :back, class: 'btn', data: {back: ''}))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.submit class: "btn blue", data:{disable_with: t('loading')}))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><script type="text/javascript">
 $(function () { var input = $('#frm_category_tags_list') if (input != null) { input.tokenInput("<%= ::Temple::Utils.escape_html((tags_path(format: :json ))) %>", { theme: "facebook", crossDomain: false, allowFreeTagging: true, minChars: 3, hintText: "<%= ::Temple::Utils.escape_html((t('digit_tags'))) %>", searchingText: "<%= ::Temple::Utils.escape_html((t('digit_tags'))) %>", prePopulate: <%= ::Temple::Utils.escape_html((raw @category.tags.map{|t| {id: t.text, name: t.text}}.to_json.to_s)) %>, preventDuplicates: true, allowTabOut: true, tokenValue: "name", tokenLimit: 5 }) } }); 
</script>
