<div class="breadcrumbs text-sm mb-4">
  <ul>
    <li><%= link_to t('pages.groups.administration_panel.forum'), group_frm_admin_root_url(@group) %></li>
    <li><%= t("frm.admin.category.index") %></li>
  </ul>
</div>

<table id="forums" class="table forums table-striped" cellspacing="0">
  <thead>
    <tr>
      <th><%= t('category', scope: 'frm.admin.categories') %></th>
      <th><%= t('edit', scope: 'frm.admin.categories') %></th>
      <th><%= t('delete', scope: 'frm.admin.categories') %></th>
    </tr>
  </thead>
  <%= render partial: 'categories' %>
</table>

<%= link_to t("frm.admin.category.new_link"), new_group_frm_admin_category_url(@group), class: "btn btn-primary mt-4" %>

<div id="category_modal"></div>

<% content_for :left_panel do %>
  <%= render partial: 'groups/administration_panel' %>
<% end %>
